@import '../../styles/variables.scss';

.recipeCardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "food header"
        "food desc";

    img {
        grid-area: food;
    }

    h3 {
        grid-area: header;
        background-color: $brandColorSecondary;
        padding: 2rem;
        margin: 0;
        font-size: 1.85rem;
        color: $brandColorTertiary;
    }

    h5 {
        margin-bottom: 0;
        text-decoration: underline;
    }

    .recipeCardActionsContainer {
        margin: 1rem;
    }

    .recipeNutritionContainer {
        background-color: $brandColorTertiary;
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        grid-area: desc;

        section {
            padding: 0 1rem;
        }
    }
}

.macroGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    div:nth-child(even) {
        font-size: 1rem;
        text-align: right;
    }
}