@import '../../styles/variables.scss';

.recipe {


    h3 {
        color: $brandColorTertiary;
        background-color: $brandColorSecondary;
        font-size: 2.73rem;
        font-weight: bold;
        line-height: 1.43;
    }
}