@import './variables.scss';

// custom fonts
@font-face {
    font-family: 'Lexend Exa Regular';
    src: url('/fonts/lexend/LexendExa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Exa Medium';
    src: url('/fonts/lexend/LexendExa-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Landing Page
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: 'Lexend Exa SemiBold';
    src: url('/fonts/lexend/LexendExa-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Plexans used for site instructions, guides, content.
@font-face {
    font-family: 'IBMPlexSans Medium';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Regular';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Semibold';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Semibold Italic';
    src: url('/fonts/ibmplexsans/IBMPlexSans-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Bold';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: $neutral-100;
    font-size: 1.2rem;
    font-family: 'IBMPlexSans Regular', sans-serif;
    margin: 0 auto;
}

p {
    @media #{ $mq-smallScreen } {
        p {
            text-align: center;
        }
    }
}

h2 {
    font-family: "Lexend Exa Regular", serif;
}

button {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin: 0 1rem;
    padding: .75rem 1rem;
    text-transform: capitalize;
    font-size: 1.2rem;

    &:hover {
        font-weight: bold;
    }
}

footer {
    font-size: .8rem;
    color: $neutral-100;
    background-color: $neutral-900;
    padding: 2.2rem 1rem;
}

.test {
    font-family: $user-font-family;
}

.flex {
    display: flex;
}

.preview {
    margin: 0 auto;
    text-align: center;

    h1 {
        font-family: 'Lexend Exa SemiBold', sans-serif;
        font-size: 5rem;
    }

    @media #{ $mq-smallScreen } {
        h1 {
            font-size: 2rem;
        }
    }
}

.rotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}