@import './variables.scss';

// custom fonts
@font-face {
    font-family: 'Lexend Exa Regular';
    src: url('/fonts/lexend/LexendExa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Exa Medium';
    src: url('/fonts/lexend/LexendExa-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Landing Page
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: 'Lexend Exa SemiBold';
    src: url('/fonts/lexend/LexendExa-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Plexans used for site instructions, guides, content.
@font-face {
    font-family: 'IBMPlexSans Medium';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Regular';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Semibold';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Semibold Italic';
    src: url('/fonts/ibmplexsans/IBMPlexSans-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Bold';
    src: url('/fonts/ibmplexsans/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: $neutral-100;
    font-size: 1.2rem;
    font-family: 'IBMPlexSans Regular', sans-serif;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    @media #{ $mq-smallScreen } {
        p {
            text-align: center;
        }
    }
}

h2 {
    font-family: "Lexend Exa Regular", serif;
}

button {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin: 1rem;
    padding: .75rem 1rem;
    text-transform: capitalize;
    font-size: 1.143rem;
    font-weight: bold;
}

// sticky footer
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // this ensures the page takes up the full viewport height at least
}

.content-wrap {
    flex: 1 0 auto; // this makes sure the content takes up all available space, pushing the footer down
}

footer {
    flex-shrink: 0; // this ensures the footer doesn't shrink if there's a lot of content in the main section
    font-size: .8rem;
    color: $neutral-100;
    background-color: $neutral-900;
    padding: 2.2rem 1rem;
}

// Loader
.centerLoader {
    display: block !important;
    text-align: center !important;
}

.test {
    font-family: $user-font-family;
}

.flex {
    display: flex;
}

.preview {
    margin: 0 auto;
    text-align: center;

    h1 {
        font-family: 'Lexend Exa SemiBold', sans-serif;
        font-size: 5rem;
    }

    @media #{ $mq-smallScreen } {
        h1 {
            font-size: 2rem;
        }
    }
}

.rotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

// newsfeed of recipe search
.recipeSeachPageGridContainer {
    display: grid;
    // grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; // adjust this value for the desired spacing between columns

    @media #{ $mq-smallScreen } {
        display: block;
    }

}

.randomized-recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 3rem;

    @media #{ $mq-smallScreen } {
        display: block;
    }

}

.recipe-carousel-mobile {
    display: none;

    @media #{ $mq-smallScreen } {
        display: block;
    }
}

.random-recipe-list {
    display: block;
    
    @media #{ $mq-smallScreen } {
        display: none;
    }
}

// Unique dedicated Recipe page
.detailed-recipe-page {
    background-color: $brandColorTertiary;
    margin: 3rem;
}