.container {
    margin: 0 1rem;

    h1 {
        margin: 0;
        font-size: 1.43rem;
        font-family: "Lexend Exa Regular", serif;
    }

    svg {
        width: 100px;
        height: 100px;
    }
}