@import '../../styles/variables.scss';

.disabledButton {
    background-color: #CFCFCF;
    cursor: not-allowed;
}

.loginButton {
    color: $neutral-100;
    background-color: $blue-500-primary;

    &:hover {
        background-color: $blue-600;
    }
}

.signUpButton {
    color: $neutral-100;
    background-color: $green-600;

    &:hover {
        background-color: $green-700;
    }
}

.returnButton {
    border: 1px solid $neutral-900;
    background-color: #fff;
    color: $neutral-900;

    &:hover {
        background-color: $neutral-900;
        color: #fff;
    }
}

.guestButton {
    margin-top: 1.2rem;
    background-color: $neutral-900;
    color: $neutral-100;
    border: 2px solid $neutral-900;

    &:hover {
        background-color: $neutral-800;
    }
}

.cancelButton {
    background-color: $red-500-primary;
    color: $neutral-100;
}

.viewIngredientsButton {
    font-size: 1rem;
    background-color: $blue-300;
    color: $neutral-100;
    margin: 1rem auto;

    &:hover {
        background-color: $blue-600;
    }
}

.recipeSearchButton {
    font-size: 1rem;
    background-color: $green-600;
    color: $neutral-100;

    &:hover {
        background-color: $green-500-primary;
    }
}

// Pagination Buttons
.firstPage, .prevPage,  .nextPage, .lastPage {
    background-color: $blue-400;
    color: $neutral-secondary-100;

    &:hover {
        background-color: $blue-500-primary;
    }
}