@import '../../styles/variables.scss';

.loginButton {
    color: $neutral-100;
    background-color: $blue-500-primary;

    &:hover {
        background-color: $blue-600;
    }
}

.signUpButton {
    color: $neutral-100;
    background-color: $green-600;

    &:hover {
        background-color: $green-700;
    }
}

.returnButton {
    border: 1px solid $neutral-900;
    background-color: #fff;
    color: $neutral-900;

    &:hover {
        background-color: $neutral-900;
        color: #fff;
    }
}

.guestButton, .createAccountButton {
    margin-top: 1.2rem;
    background-color: $neutral-900;
    color: $neutral-100;
    border: 2px solid $neutral-900
}

.cancelButton {
    background-color: $red-500-primary;
    color: $neutral-100;
}